* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color: #121212; */
    background-color: #0C1027;
}


/****************************** Navigation Section *****************************/


.navbar {
    height: 90px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    color: white;
}

.navbar > div {
    height: 100%;
}

#logo-container {
    width: 260px;
    min-width: 60px;
}

#logo-container img{
    height: 63px;
    /* min-height: 63px; */
    width: 82px;
    /* min-width: 82px; */
    margin-top: 5%;
    margin-left: 4%;
}

#logo-container span{
    position: absolute;
    top: 51px;
    left: 82px;
    font-size: 0.7rem;
}

#favourite-text p{
    margin-top: 43px;
}

#search-container {
    width: 350px;
}
.search-section {
    display: inline-block;
    background-color: #282828;
    width: 100%;
    border-radius: 16px;
    margin-top: 33px;
    height: 33px;
}

.search-section input {
    background: transparent;
    border: none;
    width: 78%;
    outline: none;
    caret-color: white;
    color: white;
    font-family: sans-serif;
    height: 37px;
    /* margin-right: 15%; */
}

.search-section button[type="button"] {
    border: none;
    outline: none;
    background: transparent;
    padding: 9px;
    vertical-align: bottom;
}

.search-section button[type="button"]:hover {
    cursor: pointer;
}

#notification-bell{
    margin-right: -12%;
}

#user-profile {
    margin-right: 3%;
}

#notification-bell img,
#user-profile img
{
    /*! margin-left: 45%; */
    margin-top: 40px;
}

/**************** Main Section *****************/

main{
    display: flex;
    width: 100%;
    min-width: 1155px;
    height: 80vh;
    /* border: 1px solid lightgreen; */
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-around;
}

main::-webkit-scrollbar {
    display: none;
}

.main-section {
    height: 1500px;
    border: 1px solid red;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 1050px;
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.main::-webkit-scrollbar {
    display: none;
}


/* Carousel Styles */

.carousel-container {
    height: 250px;
    width: 100%;
    /* border-bottom: 1px solid black; */
    position: relative;
    padding: 10px;
    perspective: 1000px;
    transform-style: preserve-3d;
    /* margin-left: auto;
    margin-right: auto; */
}

.carousel-container [type="radio"] {
    display: none;
}


.carousel-container label {
    margin: auto;
    width: 36%;
    height: 90%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.carousel-photo img{
    height: 100%;
    width: 100%;
}



#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  transform: translate3d(-119%,0,-220px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  transform: translate3d(-65%,0,-115px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  transform: -2;
  transform: translate3d(65%,0,-115px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  transform: translate3d(119%,0,-220px);
}


/* Latest Release Section */

.latest-releases {
    height: auto;
    width: 100%;
    /* margin-top: 25px; */
    /* border: 1px solid yellow; */
}

.latest-releases-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 180px;
    /* border: 1px solid skyblue; */
}

.latest-releases-component {
    position: relative;
    height: 45%;
    width: 45%;
    /* border: 1px solid darkcyan; */
}

.latest-releases-image-container{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 20%;
}

.latest-releases-image-container img {
    height: 100%;
    width: 100%;
}

.latest-releases-image-container button[type="submit"]{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: scale(2);
    background: transparent;
    border: none;
    outline: none;
    display: none;
    cursor: pointer;
    transform: scale(3.5);
}

.latest-releases-image-container:hover button[type="submit"]{
    display: inline-block;
}

.latest-releases-image-container:hover img{
    cursor: pointer;
    /* box-shadow: 2px 2px 10px 5px darkgrey inset; */
    /* opacity: 0.7; */
    /* box-shadow: 1px 1px 5px 0.5px whitesmoke; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.release-info {
    display: inline-block;
    position: absolute;
    top: 11%;
    left: 35%;
    color: white;
}
.song-name-latest-release{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.015rem;
    height: 16px;
}


.song-name-latest-release:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}

.date-of-release {
    font-size: 0.5rem;
    word-spacing: 0.2rem;
    font-weight: lighter;
}

/* Common class */

.section-sub-heading {
    color: white;
    font-family: sans-serif;
    margin-top: 10px;
}

/* Popular Artists Section */

.popular-artists {
    /* border: 1px solid white; */
    height: auto;
}

.popular-artists-container {
    height: 170px;
    /* border: 1px solid lightblue; */
    display: flex;
    justify-content: space-between;
}


.popular-artists-component {
    height: 120px;
    width: 11%;
    /* border: 1px solid white; */
    /* border-radius:; */
}

.popular-artists-component p {
    color: white;
    text-align: center;
}

.popular-artists-component img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


/* Category */

.category-section {
    height: 200px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
}

.category-component {
    /* border: 1px solid yellow; */
    height: 100%;
    width: 30%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    text-align: center;
    padding: 20px;
}

.category-component img {
    height: 100%;
    width: 100%;
}

.category-component div {
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;
    /* margin: 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
}

.category-component img:hover
/* .category-component div */
 {
    /* transform: translate3d(0,0,120px); */
    transform: scale(1.13);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Latest English and Hindi section */

.latest-english-hindi-section {
    height: auto;
    /* border: 1px solid yellow; */
}

.latest-english-hindi-container {
    height: 180px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
}

.latest-english-hindi-component {
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.7rem;
}

.latest-english-hindi-component p {
    color: white;
    margin: 2px;
}

.latest-english-hindi-component img {
    height: 70%;
    width: 70%;
}




.queue-section {
    /* display: inline-block; */
    height: 80vh;
    min-width: 250px;
    position: sticky;
    top: 0px;
    width: 23%;
    min-width: 340px;
    /* border: 1px solid white; */
}

.queue-head {
    /* display: flex;
    justify-content: space-between; */
    color: white;
    padding: 7px;
    border: 1px solid white;
}

.queue-song-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid yellow; */
    height: 500px;
    overflow-y: auto;
}

.queue-song {
    height: 80px;
    width: 100%;
    border: 1px solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.queue-text {
    font-size: 1.5rem;
    display: inline-block;
}

.queue-dropdown {
    /* padding: 20px; */
    position: absolute;
    display: inline-block;
    height: auto;
    right: 20px;
    top: 35px;
    margin: 0;
    cursor: pointer;
}

.queue-dropdown > p {
    display: inline-block;
    font-size: 0.8rem;
    color: turquoise;
    margin: 0;
}

.down-arrow {
    transform: scale(0.7);
}

.arrow {
    border: solid turquoise;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    overflow: auto;
    height: 80px;
    right: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
}

.dropdown-content hr {
    border: 1px solid purple;
    width: 100%;

}

.dropdown-content p {
    margin: 0;
    font-size: 0.8rem;
}

.queue-dropdown:hover .dropdown-content {
    display: block;
}



.queue-song-img-container {
    height: 63%;
    width: 14%;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 20px;
}


.queue-song-img-container img {
    height: 100%;
    width: 100%;
}

.song-name,
.singer-name {
    color: white;
}
.song-name {
    display: inline-block;
    font-weight: 700;
    position: absolute;
    top: 22px;
    left: 80px;
}

.singer-name {
    display: inline-block;
    font-size: 0.6rem;
    position: absolute;
    top: 42px;
    left: 84px;
}

.favorite-heart {
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 25px;
    background: url('assets/heart.png');
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}


/************************************* Music Player Controls ***********************************/

.margin-down {
    margin-bottom: 30px;
}

.player-controls {
    position: fixed;
    width: 100%;
    height: 85px;
    bottom: 0;
    background-color: red;
    /* border: 1px solid yellow; */
    /* display: none; */
}